{
  "extends": [
    "semistandard",
    "plugin:vue/strongly-recommended"
  ],
  "parserOptions": {
    "parser": "typescript-eslint-parser"
  },
  "plugins": [
    "typescript",
    "vue"
  ],
  "rules": {
    "no-undef": 0,
    "typescript/adjacent-overload-signatures": "error",
    "typescript/class-name-casing": "error",
    "typescript/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "typescript/interface-name-prefix": [
      "error",
      "always"
    ],
    "typescript/member-delimiter-style": "error",
    "typescript/member-naming": [
      "error",
      {
        "private": "^_"
      }
    ],
    "typescript/member-ordering": "error",
    "typescript/no-angle-bracket-type-assertion": "error",
    "typescript/no-array-constructor": "error",
    "typescript/no-empty-interface": "error",
    "typescript/no-explicit-any": "error",
    "typescript/no-inferrable-types": "error",
    "typescript/no-namespace": [
      "error",
      {
        "allowDefinitionFiles": true
      }
    ],
    "typescript/no-non-null-assertion": "error",
    "typescript/no-parameter-properties": "error",
    "typescript/no-triple-slash-reference": "error",
    "typescript/no-type-alias": [
      "error",
      {
        "allowAliases": "in-unions-and-intersections"
      }
    ],
    "typescript/no-unused-vars": "error",
    "typescript/no-var-requires": "error",
    "typescript/type-annotation-spacing": "error"
  }
}
